$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$capstone-background: #CBB9A8;
$capstone-1: #5393cb;
$capstone-2: #FFFFFF;
$capstone-3: #145C9E;
$capstone-4: #F15946;
$capstone-5: #F9C22E;
$capstone-6: #5393cb;