@use "../../styles/partials/font" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.curated-top__container, .curated-bottom__container, .curated-shoe__container {
    display: flex;
    margin-bottom: 1.875rem;
}
.curated-top__text, .curated-bottom__text, .curated-shoe__text {
    width: 15.625rem;
}
.curated-top__img, .curated-bottom__img, .curated-shoe__img {
    width: 13.5625rem;
    height: 16.5625rem;
    margin-left: 12.5rem;
}
p {
    font-size: 1.25rem;
    font-weight: 500;
    color: $capstone-1;
}
