@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;



.land-text {
    color: $capstone-1;
    font-weight: 500;
    font-size: 1.25rem;
    padding-left: .625rem;
}
.land-text__container {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 31.25rem;
    margin-right: 12.5rem;
    border-style: double;
    border-color: $capstone-4;
    // margin-bottom: 5rem;
}
// main {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
// }