@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;



.land-text {
    color: $capstone-1;
    font-weight: 500;
    font-size: 1.25rem;
    padding-left: .625rem;
}
.land-text__container {
    
    // background-color: $capstone-5;
    border-radius: 10px;
    // margin-bottom: 5rem;
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}