@use "../../styles/partials/font" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

/* Tops.scss */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide overflow to prevent scrollbars caused by the border */
  }
  
  .page-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 2px solid transparent; /* Set initial border */
    animation: borderAnimation 3s infinite alternate; /* Apply animation */
  }
  
  @keyframes borderAnimation {
    0% {
      border-color: #145C9E; /* Start color of the border */
    }
    100% {
      border-color: #ff5733; /* End color of the border */
    }
  }
  
nav {
    display: flex;
    justify-content: space-between;
}
.form-input__container {
    height: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
section {
    margin-top: 4.375rem;
}
h1 {
    font-family: "Glitch";
    font-size: 2.5rem;
    margin-bottom: 1.875rem;
    color: $capstone-3;
    font-weight: 900;
    // font-size: 4.375rem;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      $capstone-2,
      $capstone-4 50%,
      $capstone-5 67%,
      $capstone-2 100%
    );
}
#urlInput {
    width: 12.5rem;
    height: 1.875rem;
}
.urlInput {
    margin-left: 4.375rem;
    font-size: 30px;
    font-weight: 500;
    color: $capstone-1;
}
.dropdown1 {
    padding-right: 1.875rem;
    font-size: 30px;
    font-weight: 500;
    color: $capstone-1;
}
#dropdown1 {
    margin-top: 1.25rem;
    margin-left: 130px;
    width: 12.5rem;
    height: 1.875rem;
}
#dropdown2 {
    width: 6.25rem;
    height: 1.875rem;
}
#dropdown3 {
    width: 6.25rem;
    height: 1.875rem;
}
.dropdown2 {
    padding-right: 1.875rem;
    font-size: 30px;
    font-weight: 500;
    color: $capstone-1;
}
.dropdown3 {
    padding-right: 1.875rem;
    font-size: 30px;
    font-weight: 500;
    color: $capstone-1;
}
.form-category, .form-url {
    display: flex;
    flex-direction: column;
}
.image-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center; /* Align images vertically in the center */
    margin-top: 10px; /* Add some margin to separate images from the dropdown */
}

.image-container img {
    max-width: 14.0625rem; /* Adjust the max-width of the images as needed */
    height: 18.75rem;
    margin-right: 10px; /* Add some margin between images */
    border-radius: .625rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
  .image-container img:hover {
    transform: scale(1.1); /* Scale the image on hover */
}
