@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;

.overlay-container {
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.overlay-container img {
  width: 43.75rem;
  height: 43.75rem;
}
button {
  color: $capstone-2;
  background-color: $capstone-4;
  align-self: center;
  border: none;
  width: 9.375rem;
  height: 6.25rem;
  border-radius: 50%;
  font-family: "Barlow";
  font-weight: 500;
  font-size: 25px;
  margin-left: 25rem;
  margin-top: 3.75rem;
}
